@{
    Layout ="_Layout";
}
<div class="jumbotron text-center">
  <h2>PROCEDURE PAYMENT</h2>
  <img src="img/PY.png" width="700" height="200" style="float:center;">
</div>
<div class="jumbotron text-center">
  <h2>PAYMENT METHOD</h2>
  </div>
  <div class="row">
  <div class="col-md-6">
<h4><img src="img/cod.jpg" width="50" height="30" style="float:left;"/>Available on Yogyakarta</h4><br><br>
 <div class="col-md">
<h4><img src="img/bni.png" width="50" height="30" style="float:left;"/>0587098/A.n Valeriana Tanesha</h4><br> <br>
<h4><img src="img/bri.png" width="50" height="30" style="float:left;"/>0587098/A.n Valeriana Tanesha</h4><br><br>
 <div class="col-md">
<h4><img src="img/Bca.png" width="50" height="30" style="float:left;"/>0587098/A.n Valeriana Tanesha</h4><br><br>
<h4><img src="img/mandiri.png" width="50" height="30" style="float:left;"/>0587098/A.n Valeriana Tanesha</h4><br><br>
</div></div>
</div>
