@{
    Layout = "_Layout";
}
<div class="jumbotron text-center">
  <h1>FAQ (Frequently Asked Questions)</h1>
  <img class="img-fluid rounded" src="img/faq-icon.png" alt="">
  <p class="lead">Selamat datang di Vlane.Choco, kami menawarkan berbagai macam produk yang anda butuhkan.
          Berikut adalah daftar pertanyaan yang sering anda tanyakan:</p>
</div>

<table class="table table-striped">
<tr>
<th>Question</th>
<tr>
<td>Apakah dapat dilakukan Cash on Delivery?</td>
<td>Apakah semua barang ready stock?</td>
<td>Apa yang dimaksud dengan sistem Preorder?</td>
</tr>
<th>Answer</th>
<tr>
<td>Tentu saja bisa, dengan lokasi Monjali dan sekitar UKDW.</td>
<td>Tentu saja bisa, dengan lokasi Monjali dan sekitar UKDW.</td>
<td>Preorder adalah sistem dimana pembeli harus menunggu barang
            selama beberapa hari untuk sampai ditangan pembeli.</td>
</tr>
</tr>
</table>
<p>Your Question : @Model.cm </p>
