@{
    Layout ="_Layout";
}

 <section class="page-section clearfix">
    <div class="container">
      <div class="intro-text left-0 text-center">
        <img class="rounded" src="img/vlane.choco.jpg" width="300" height="300" style="align: center;">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">ABOUT</span>
            <span class="section-heading-lower">Vlane.Choco </span>
          </h2>
          <p class="mb-3">Vlane.Choco adalah sebuah onlineshop yang berdiri sejak tahun 2016. Vlane.Choco sendiri memilki banyak sejarah perjalanan. 
              Dimana awalnya Vlane.Choco dibuat oleh pendirinya, yaitu Valeriana Tanesha dengan nama Bluesky.id yang menjual 
              berbagai jenis masker naturgo, sheisedo dengan banyak varian, collagen crystal eye mask, dan juga lip mask.
               Setelah menjual beberapa jenis masker, Bluesky.id berubah menjadi berjualan Chococrust dan semacamnya. 
               Baru setelah tahun 2016 berubah nama menjadi Vlane.Choco hingga saat ini.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Profil</span>
              <span class="section-heading-lower">Pendiri</span>
            </h2>
             <img class="rounded" src="img/vals.jpg" width="300" height="300" style="align: center;">
            <p class="mb-0">Nama: Valeriana Tanesha</p>
            <p class="mb-0">TTL: Magelang, 3 Januari 2000</p>
            <p class="mb-0">Kegiatan yang sedang dilakukan: Berkuliah di Universitas Kristen Duta Wacana Yogyakarta</p>
            <p class="mb-0">Instagram: <a href="https://www.instagram.com/vlrntnsha/">vlrntnsha</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>