@{
    Layout ="_Layout";
}
<form method="POST" action="http://localhost:5000/Tampil">
<div class="jumbotron text-center">
  <h1>FAQ (Frequently Asked Questions)</h1>
  <img class="img-fluid rounded" src="img/faq-icon.png" alt="">
  <p class="lead">Selamat datang di Vlane.Choco, kami menawarkan berbagai macam produk yang anda butuhkan.
          Berikut adalah daftar pertanyaan yang sering anda tanyakan:</p>
</div>

<table class="table table-striped">
<tr>
<th>Question</th>
<tr>
<td>Apakah dapat dilakukan Cash on Delivery?</td>
<td>Apakah semua barang ready stock?</td>
<td>Apa yang dimaksud dengan sistem Preorder?</td>
</tr>
<th>Answer</th>
<tr>
<td>Tentu saja bisa, dengan lokasi Monjali dan sekitar UKDW.</td>
<td>Vlane.Choco menyediakan barang yang beberapa Ready Stock dan beberapa lagi dengan sistem PO</td>
<td>Preorder adalah sistem dimana pembeli harus menunggu barang
            selama beberapa hari untuk sampai ditangan pembeli.</td>
</tr>
</tr>
</table>
        <div class="card my-4">
          <h5 class="card-header">Any Question?</h5>
          <div class="card-body">
            Tulis pertanyaan kamu dibawah ini ya!
             <div class="form-group">
                <textarea class="form-control" rows="5" id="cm"></textarea>
            </div> 
            <div>
        <button class="btn btn-primary">Submit</button>
        </div>
          </div>
        </div>
</form>
<!-- 
      </div>

    </div>

  </div> -->