@{
    Layout ="_Layout";
}
<div class="jumbotron text-center">
<section class="page-section clearfix">
    <div class="container">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">OUR PARTNERSHIP</span>
            <BR/>
            <span class="section-heading-lower">Vlane.Choco </span>
          </h2>
        <div class="intro-text left-0 text-center">
        <img class="rounded" src="img/jstore.jpeg" width="300" height="300" style="align: center;">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <p class="mb-3">JerapahStore is the first partnership of Vlane.Choco. You can order all product Vlane.Choco in 
            JerapahStore and all product in JerapahStore in Vlane.Choco.
          </p>
          <p class="mb-0">Instagram: 
            <a href="https://www.instagram.com/jerapahstore/">jerapahstore</a></p>
            <br/>
            <img class="rounded" src="img/js1.png" width="300" height="300" style="align: center;">
            <img class="rounded" src="img/js2.png" width="300" height="300" style="align: center;">
            <img class="rounded" src="img/js3.png" width="300" height="300" style="align: center;">
            <img class="rounded" src="img/js4.png" width="300" height="300" style="align: center;">
        </div>
      </div>
    </div>
  </section>