@{
    Layout = "_Layout";
}
<div class="jumbotron text-center">
  <h2>TESTIMONI PRODUCT</h2>
  <p><img src="img/tes1.png" width="300" height="300" style="float:left;">
  <img src="img/tes2.png" width="300" height="300" style="float:center;">
  <img src="img/tes3.png" width="300" height="300" style="float:right;">
  </p>
  <br/>
  <p>
  <img src="img/tes4.png" width="300" height="300" style="float:left;">
  <img src="img/tes5.png" width="300" height="300" style="float:center;">
  <img src="img/tes6.png" width="300" height="300" style="float:right;">

  </p>
</div>